.modal{
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
    --transform: translateY(-100vh);
    --transition: transform 0.8s;
    --color-bg-white: rgb(255,255,255);
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
}
.modal_container{
    margin: auto;
    max-width: 20rem;
    max-height: 90%;
    min-height:70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center; */
    place-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.3rem;
    transform: var(--transform);
    transition: var(--transition);
}
.modal_container h2{
    text-align: center;
}

a.modal_close{
    cursor: pointer;
    padding: 0.2rem 1rem;
    text-decoration: none;
    background-color: #4caf50;;
    color: var(--color-bg-white);
}
a.modal_close:hover{
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    border: 1.5px solid #4caf50;;
    color: black;
}

button.modal_google{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0.2rem;
    border: none;
    background-color: rgb(26 115 232);
    color: var(--color-bg-white);
    font-size: 0.9em;
    padding: 0.2rem;
    cursor: pointer;
}
button.modal_google div:nth-child(1){
    width: 2.6rem;
    flex-basis: 2.6rem;
    
}
button.modal_google div:nth-child(2){
    flex-basis: 100%;
}

.bg-white{
    background-color: var(--color-bg-white);
}

