.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
}

.modal_container{
    margin: auto;
    max-width: 20rem;
    min-height:70% ;
    background-color: greenyellow;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.modal_cerrar{
    cursor: pointer;
    padding: 0.2rem 1rem;
}