*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
    font-size: 18px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
}

body {
    min-height: 100vh;
    max-width: 100vw;

}

section.readcards {
    min-height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    position: relative;
}

div.bg_maintenance {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
}

div.bg_maintenance img{
    border-radius: 50%;
}

div.bg_maintenance p{
    color: rgb(255, 255, 255);
    text-align: center;
}
div.bg_maintenance>a{
    padding: 0.5rem 1rem;
}

div.readcards_container {
    margin: auto;
    min-height: 92vh;
    /* min-width: 100%; */
    max-width: 80%;
    /*     background-color: rgba(127, 255, 212, 0.533);
 */
    display: grid;
    grid-template-columns: minmax(17rem, 1fr) minmax(17rem, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "readcardsQuiz readcardsCard ";
}


div.readcards_quiz {
    grid-area: readcardsQuiz;
    align-self: center;
    justify-self: center;
}

.readcards_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(0, 85, 255, 0.291);
    padding: 1rem;
    border-radius: 0.5rem;
}

div.readcards_card {
    grid-area: readcardsCard;
    align-self: center;
    justify-self: center;
}


section.readcards_topics {
    /* padding: 1rem; */
    /*  align-self: center;
    justify-self: center; */
    /*     background-color: rgb(122, 122, 234);
 */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.topics_container {
    min-height: 100vh;
    max-width: 80%;
    background-color: hsl(66, 100%, 92%);
    ;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;

}

/* ul.topics_lists{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: bisque;
} */

/*  li.topics_item{
} */

div.topics_container>div {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.style-btn {
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}

a.topics_button {
    cursor: pointer;
    padding: 0.5rem 1rem;
}

@media (max-width: 950px) {
    div.readcards_container {
        margin: auto;
        min-height: 92vh;
        /* min-width: 100%; */
        max-width: 100%;
        display: grid;
        grid-template-columns: minmax(17rem, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "readcardsCard"
            "readcardsQuiz";
    }
}